@use "@/assets/styles/variables.scss" as *;

.card {
	position: relative;
}

.front,
.back {
	border: 2px solid $whiteColor;
	border-radius: 6px;
	cursor: pointer;
	transition: all ease-in 0.2s;
}

.front {
	transform: rotateY(90deg);
	position: absolute;
}

.back {
	transition-delay: 0.2s;

	&:hover {
		border-color: $primaryColor;
	}
}

.flipped {
	& .front {
		transform: rotateY(0deg);
		transition-delay: 0.2s;
	}

	& .back {
		transform: rotateY(90deg);
		transition-delay: 0s;
	}
}
